{% extends "base.html" %}
{% block title %}
	Личный кабинет
{% endblock title %}

{% block content %}
<section class="lk__menu">
	<div class="container-fluid">
		<div class="row lk__menu-row">
			<div class="lk__menu-content">
				<a href="" class="lk__menu-item lk__menu-activeItem">Настройки профиля</a>
				<a href="" class="lk__menu-item">Избранное</a>
				<a href="" class="lk__menu-item">Сохранённые сегменты</a>
				<a href="" class="lk__menu-item">Подписки</a>
				<a href="" class="lk__menu-item">Отложенные покупки</a>
				<a href="" class="lk__menu-item">История покупок</a>
			</div>
		</div>
	</div>
</section>
{% block inner_content %}
	
{% endblock inner_content %}
{% endblock content %}