{% extends "base.html" %}
{% block content %}
{% load zip %}


<form method="post">
	<div id="cartBuy">
		<section class="cartBuy__bio">
			<div class="container-fluid">
				<div class="row">
					<div class="section__title">
						<h2>Оформление заказа</h2>
						<div class="section__title-line"></div>
					</div>
				</div>
				<div class="row cartBuy__bio-types">
					<div class="cartBuy__bio-type">
						<label class="checkbox-transform">
							<input type="radio" name="bio" class="checkbox__input" checked onchange="cartBuy('fizbioform','urbioform');">
							<span class="checkbox__label">Физическое лицо</span>
						</label>
					</div>
					<div class="cartBuy__bio-type">
						<label class="checkbox-transform">
							<input type="radio" name="bio" class="checkbox__input" onchange="cartBuy('urbioform','fizbioform');">
							<span class="checkbox__label">Юридическое лицо</span>
						</label>
					</div>
				</div>
				<div class="row cartBuy__bio-forms" id="fizbioform">
					<div class="cartBuy__bio-formItem">
						<p>Как вас зовут?</p>
						<p>Имя</p>
						{{ forms.individual_form.firstname }}
					</div>
					<div class="cartBuy__bio-formItem">
						<p>Фамилия</p>
						{{ forms.individual_form.lastname }}
					</div>
					<div class="cartBuy__bio-formItem">
						<p>Контактные данные:</p>
						<p>Email</p>
						{{ forms.individual_form.email }}
					</div>
					<div class="cartBuy__bio-formItem">
						<p>Phone</p>
						{% if forms.individual_form.phone.errors %}
							<p class="settings_form_error">Введите действительный номер телефона</p>
						{% endif %}
						
						{{ forms.individual_form.phone }}
						</p>
					</div>

				</div>

				<div class="row cartBuy__bio-forms" id="urbioform">


					<div class="cartBuy__bio-formItem">
						<p>Название компании</p>
						{{ forms.entity_form.firm_name }}

					</div>
					<div class="cartBuy__bio-formItem">
						<div class="row">
							<div class="cartBuy__bio-formItem cartBuy__bio-formItemBot">
								<p>ИНН</p>
								{{ forms.entity_form.INN }}
							</div>
							<div class="cartBuy__bio-formItem cartBuy__bio-formItemBot">
								<p>КПП</p>
								{{ forms.entity_form.KPP }}

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section class="cartBuy__list inn__point">
			<div class="container-fluid">
				<div class="row">
					<h3>Перечень покупок</h3>
				</div>
				<div class="row cartBuy__items">
					{{ cart.management_form }}
					{% csrf_token %}

					
					{% for form, research in cart, researchs %}
					{% with research.id as i %}
					
					<div class="cartBuy__item">
						<div class="cartBuy__item-name">
							<h5>{{ research.title }}</h5>
							{% if form.errors %}
								<p>Заполните, пожалуйста, все данные формы</p>	
							{% endif %} 
						</div>

						{{ form.research }}
						<div class="cartBuy__item-settings">
							<div class="cartBuy__item-settingsLeft">
								<label class="checkbox-transform">
									<input type="radio" name="{{ form.update_frequency.html_name }}" id="{{ form.update_frequency.1.id_for_label }}" value="MU" class="checkbox__input">
									<span class="checkbox__label">Ежемесячное обновление</span>
								</label>
								<label class="checkbox-transform">
									<input type="radio" name="{{ form.update_frequency.html_name }}"  id="{{ form.update_frequency.2.id_for_label }}" value="QU" class="checkbox__input">
									<span class="checkbox__label">Ежеквартальное обновление</span>
								</label>
							</div>
							<div class="cartBuy__item-settingsRight">
								<div onchange="showCost('{{i}}OM', '{{i}}OQ', '{{i}}HY', '{{i}}OY')" class="radiobtn OM">
									<input 
										onchange="showCost('{{i}}OM', '{{i}}OQ', '{{i}}HY', '{{i}}OY')" 
										type="radio" 
										name="{{ form.duration.html_name }}"  
										id="{{ form.duration.1.id_for_label }}" 
										value="OM" class="Duration_choice">
									<label for="{{ form.duration.1.id_for_label }}">На один месяц</label>

								</div>
								<div class="radiobtn OQ">
									<input 
										onchange="showCost('{{i}}OQ', '{{i}}OM', '{{i}}HY', '{{i}}OY')" 
										type="radio" name="{{ form.duration.html_name }}"  
										id="{{ form.duration.2.id_for_label }}" 
										value="OQ" class="Duration_choice">
									<label for="{{ form.duration.2.id_for_label }}">На один квартал</label>
								</div>
								<div class="radiobtn HY">
									<input 
										onchange="showCost('{{i}}HY', '{{i}}OQ', '{{i}}OM', '{{i}}OY')" 
										type="radio" name="{{ form.duration.html_name }}"  
										id="{{ form.duration.3.id_for_label }}" 
										value="HY" class="Duration_choice">
									<label for="{{ form.duration.3.id_for_label }}">На пол года</label>
								</div>
								<div class="radiobtn OY">
									<input 
										onchange="showCost('{{i}}OY', '{{i}}OQ', '{{i}}HY', '{{i}}OM')"  
										type="radio" name="{{ form.duration.html_name }}"  
										id="{{ form.duration.4.id_for_label }}" 
										value="OY" class="Duration_choice">
									<label for="{{ form.duration.4.id_for_label }}">На один год</label>
								</div>
							</div>
						</div>
						<div class="cartBuy__item-price">
							<div class="cartBuy__item-priceBlock">
								<p id="{{i}}OM">{{ research.OM_cost }} Р</p>
								<p id="{{i}}OQ" style="display: none;">{{ research.OQ_cost }} Р</p>
								<p id="{{i}}HY" style="display: none;">{{ research.HY_cost }} Р</p>
								<p id="{{i}}OY" style="display: none;">{{ research.OY_cost }} Р</p>
								<a href="{% url 'orders:cart_purchase' %}?remove_from_order={{ research.slug }}">Отменить заказ</a>
							</div>
						</div>
					</div>

					{% endwith %}
					{% endfor %}
				</div>
			</div>
		</section>
		<section class="cartBuy__pay inn__point">
			<div class="container-fluid">
				<div class="row cartBuy__pay-row">
					<div class="cartBuy__pay-button">
						<input type="submit" value="Оплатить">
					</div>
				</div>
			</div>
		</section>
	</div>
</form>
{% endblock content %}