{% extends "base.html" %}
{% block content %}


<form method="post">
	<div id="cartBuy">
		<section class="cartBuy__bio">
			<div class="container-fluid">
				<div class="row">
					<div class="section__title">
						<h2>Оформление заказа</h2>
						<div class="section__title-line"></div>
					</div>
				</div>
				<div class="row cartBuy__bio-types">
					<div class="cartBuy__bio-type">
						<label class="checkbox-transform">
							<input type="radio" name="bio" class="checkbox__input" checked onchange="cartBuy('fizbioform','urbioform');">
							<span class="checkbox__label">Физическое лицо</span>
						</label>
					</div>
					<div class="cartBuy__bio-type">
						<label class="checkbox-transform">
							<input type="radio" name="bio" class="checkbox__input" onchange="cartBuy('urbioform','fizbioform');">
							<span class="checkbox__label">Юридическое лицо</span>
						</label>
					</div>
				</div>
				<div class="row cartBuy__bio-forms" id="fizbioform">
					<div class="cartBuy__bio-formItem">
						<p>Как вас зовут?</p>
						<p>Имя</p>
						{{ forms.individual_form.firstname }}
					</div>
					<div class="cartBuy__bio-formItem">
						<p>Фамилия</p>
						{{ forms.individual_form.lastname }}
					</div>
					<div class="cartBuy__bio-formItem">
						<p>Контактные данные:</p>
						<p>Email</p>
						{{ forms.individual_form.email }}
					</div>
					<div class="cartBuy__bio-formItem">
						<p>Phone</p>
						{{ forms.individual_form.phone }}
					</div>

				</div>

				<div class="row cartBuy__bio-forms" id="urbioform">


					<div class="cartBuy__bio-formItem">
						<p>Как вас зовут?</p>
						<p>Имя</p>
						{{ forms.entity_form.firstname }}
						<p>Фамилия</p>
						{{ forms.entity_form.lastname }}
						<p>Название компании</p>
						{{ forms.entity_form.firm_name }}

					</div>
					<div class="cartBuy__bio-formItem">
						<p>Контактные данные</p>
						<p>Email</p>
						{{ forms.entity_form.email }}
						<p>Phone</p>
						{{ forms.entity_form.phone }}


						<div class="row">
							<div class="cartBuy__bio-formItem cartBuy__bio-formItemBot">
								<p>ИНН</p>
								{{ forms.entity_form.INN }}
							</div>
							<div class="cartBuy__bio-formItem cartBuy__bio-formItemBot">
								<p>КПП</p>
								{{ forms.entity_form.KPP }}

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section class="cartBuy__list inn__point">
			<div class="container-fluid">
				<div class="row">
					<h3>Перечень покупок</h3>
					{% for research in researchs %}
						{{ research.title }}						
					{% endfor %}

				</div>
				<div class="row cartBuy__items">
					{{ cart.management_form }}
					
					{% csrf_token %}
					{% for item in cart %}
					{{ item.errors }}
					<div class="cartBuy__item">
						<div class="cartBuy__item-name">
							<h5>Отчёт номер 1</h5>
						</div>
						<div class="cartBuy__item-settings">
							{{ item.research }}
							<div class="cartBuy__item-settingsLeft">
								<label class="checkbox-transform">
									<input type="radio" name="{{ item.update_frequency.html_name }}" id="{{ item.update_frequency.1.id_for_label }}" value="MU" class="checkbox__input">
									<span class="checkbox__label">Ежемесячное обновление</span>
								</label>
								<label class="checkbox-transform">
									<input type="radio" name="{{ item.update_frequency.html_name }}"  id="{{ item.update_frequency.2.id_for_label }}" value="QU" class="checkbox__input">
									<span class="checkbox__label">Ежеквартальное обновление</span>
								</label>
							</div>
							<div class="cartBuy__item-settingsRight">
								<div class="radiobtn">
									{{ item.duration.1 }}
								</div>
								<div class="radiobtn">
									{{ item.duration.2 }}
								</div>
								<div class="radiobtn">
									{{ item.duration.3 }}
								</div>
								<div class="radiobtn">
									{{ item.duration.4 }}
								</div>
							</div>
						</div>
						<div class="cartBuy__item-price">
							<div class="cartBuy__item-priceBlock">
								<p>250 Р</p>
								<a href="">Отменить заказ</a>
							</div>
						</div>
					</div>

					{% endfor %}
				</div>
			</div>
		</section>
		<section class="cartBuy__pay inn__point">
			<div class="container-fluid">
				<div class="row cartBuy__pay-row">
					<div class="cartBuy__pay-button">
						<input type="submit" value="Оплатить">
					</div>
				</div>
			</div>
		</section>
	</div>
</form>
{% endblock content %}