{% extends "base.html" %}

{% block content %}
<section class="cart">
	<div class="container-fluid">
		<div class="row">
			<div class="section__title">
				<h2>Корзина</h2>
				<div class="section__title-line"></div>
			</div>
		</div>
		<div class="row cart__items">
			{% if user.is_authenticated %}
			{% for item in cart.items.all %}
            {% with item.research as research %}
			<div class="cart__item">
				<div class="cart__item-img">
					{% if research.image %}
					<img class="cart__item-img" src="{{ research.image.url }}" alt="">
					{% endif %}
				</div>
				<div class="cart__item-content">
					<div class="cart__item-left">
						<div class="cart__item-left-top">
							<h2>{{ research.title }}</h2>
							<h2>{{ research.nominal}} Р</h2>
						</div>
						<div class="cart__item-left-text">
							<p >{{ research.description}}</p>
						</div>
						<div class="cart__item-left-bot">
							<a href="{% url 'orders:cart' %}?remove_from_cart={{ research.slug }}">Убрать из корзины</a>
						</div>
					</div>
					<div class="cart__item-right">
						<h2>Детали подписки:</h2>
						<p>Ежемесячно на срок 1 год</p>
						<p><span>* - обновления первых трех месяцев бесплатно</span></p>
					</div>
				</div>
			</div>
            {% endwith %}
			{% endfor %}
			{% else %}
			{% for item in cart %}
			{% with item.product.research as research %}
			<div class="cart__item">
				<div class="cart__item-img">
					{% if research.image %}
					<img class="cart__item-img" src="{{ research.image.url }}" alt="">
					{% endif %}
				</div>
				<div class="cart__item-content">
					<div class="cart__item-left">
						<div class="cart__item-left-top">
							<h2>{{ research.title }}</h2>
							<h2>{{ research.nominal}} Р</h2>
						</div>
						<div class="cart__item-left-text">
							<p >{{ research.description}}</p>
						</div>
						<div class="cart__item-left-bot">
							<a href="{% url 'orders:cart' %}?remove_from_cart={{ research.slug }}">Убрать из корзины</a>
						</div>
					</div>
					<div class="cart__item-right">
						<h2>Детали подписки:</h2>
						<p>Ежемесячно на срок 1 год</p>
						<p><span>* - обновления первых трех месяцев бесплатно</span></p>
					</div>
				</div>
			</div>
			{% endwith %}
			{% endfor %}
			{% endif %}
		</div>
		<div class="row cart__buy">
			<div class="cart__buy-block">
				{% if  cart.summary == None or cart.summary == 0 %}
				<div class="cart__buy-top">
					<p>Ваша корзина пуста.</p>
				</div>
				<div class="cart__buy-bot">
					<a href="{% url 'research:list' %}">Перейти в каталог</a>
				</div>
				{% else %}
				<div class="cart__buy-top">
					<p>Итого:</p>	
					<h2>{{ cart.summary }} Р</h2>
				</div>
				<div class="cart__buy-bot">
					<a href="{% url 'orders:cart_purchase' %}">Оформить покупку</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>	
</section>
{% endblock content %}