{% extends "base.html" %}
{% block content %}
<section class="search search__min">
	<div class="container-fluid">
		<form action="{% url 'research:list' %}", method="get">
			<div class="row search__row">
				<input type="text" name="research" class="search__input" placeholder="Введите код ВЭД, отрасль или тип товара">
				<button type="submit" class="search__button">Поиск</button>
			</div>
		</form>
	</div>
</section>
<section class="ready">
	<div class="container-fluid">
		<div class="row">
			<div class="content__container">
				<div class="content__menu">
					<div class="list-group">
						{% for category in categories %}
						<a href="{% url 'research:category' category.slug %}" class="list-group-item list-group-item-action">{{ category.title}}</a>
						{% endfor %}
					</div>
				</div> 
				<div class="content__main">
					<div class="ready__type">
						<a href="{% url 'research:type' 'industry' %}" id="industry" class="ready__type-item ">Отраслевые</a>
						<a href="{% url 'research:type' 'export' %}" id="export" class="ready__type-item">Экспорт</a>
						<a href="{% url 'research:type' 'import' %}" id="import" class="ready__type-item">Импорт</a>
					</div>
					{% block inner_content %}
					
					{% endblock inner_content %}
					
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}