{% extends 'products/products_base.html' %}


{% block title %}Каталог исследований{% endblock title %}

{% load static %}
{% block inner_content %}
{% if messages %}
    
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    
<div class="modal modal-custom fade" id="modal-thanx" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Товар добавлен в корзину</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <p>Вы добавили к заказу оформление документа {{ message|safe }}
                Вы можете оплатить выбранные услуги или добавить к заказу оформление других документов.</p>
            </div>
            
            <div class="modal-footer d-flex flex-wrap justify-content-between">
                <button class="btn btn-secondary btn-custom" type="button" data-dismiss="modal">Заказать ещё</button>
                <a class="btn btn-inverse btn-custom" href="{% url 'orders:cart' %}">В корзину</a>
            </div>
        </div>
    </div>
</div>

{% elif DEFAULT_MESSAGE_LEVELS.ERROR %}
    {{ message }}
{% endif %}
{% endfor %}
{% endif %}
<div itemscope itemtype="https://schema.org/NewsArticle" class="ready__items">
    {% for research in researchs %}
    <div class="ready__item">
        <div itemprop="associatedMedia" class="ready__item-img">
        {% if research.image %}

            <a href="{% url 'research:detail' research.slug %}"><img class="ready__item-img" src="{{ research.image.url }}" alt=""></a>
        {% endif %}
        </div> 
        <div class="ready__item-right">
            <div class="ready__item-top">
                <div class="ready__item-topLeft">
                    <div class="ready__item-topLeftRow">
                        <a href="{% url 'research:detail' research.slug %}"><h2 itemprop="headline">{{ research.title}}</h2></a>
                        <p><a id="research-list-star" href="{% url 'research:list' %}?add_to_favorite={{ research.slug }}"><img src="{% static "img/star.svg" %}"  id="product-star"></a></p>
                        <div class="ready__item-stars"></div>
                        <h2>{{ research.OM_cost}} Р</h2>
                    </div>
                    <p id="research_description" itemprop="description">{{ research.description}}</p>
                    <a href="{% url 'research:detail' research.slug %}">Подробнее...</a>
                </div>
                <div class="ready__item-topRight">
                    <h2>Дополнительно:</h2>
                    <p>Ежемесячное обноваление данных</p>
                    <p><span>*обновления первых трех месяцев бесплатно</span></p>
                </div>
            </div>
            <div class="ready__item-bottom">
                <a href="{% url 'research:list' %}?add_to_cart={{ research.slug }}">Добавить в корзину</a>
                <a href="{% url 'research:buy' research.slug %}">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock inner_content %}
